//- buttons.pug
extends layout.pug

mixin split_btn_with_icon(fa_icon, btn_class,btn_text)
    a(href="#" class="btn btn-icon-split" class!= btn_class)
        span(class="icon text-white-50")
            i(class="fas " class!= fa_icon)
        span.text= btn_text


mixin split_btn_with_icon_small(fa_icon, btn_class,btn_text)
    a(href="#" class="btn btn-icon-split" class!= btn_class)
        span(class="icon text-white-50")
            i(class="fas " class!= fa_icon)
        span.text= btn_text


mixin code_text(text)
    div.mb-2.mt-2
        code!= text


mixin circle_button_default(fa_icon, btn_class)
    //- a.btn(class!= btn_class).btn-circle(href="#")
    a.btn.btn-circle(class!= btn_class href="#")
        i.fas(class!= fa_icon)


mixin circle_button_small(fa_icon, btn_class)
    a.btn.btn-circle.btn-sm(class!= btn_class href="#")
        i.fas(class!= fa_icon)

mixin circle_button_large(fa_icon, btn_class)
    a.btn.btn-circle.btn-lg(class!= btn_class href="#")
        i.fas(class!= fa_icon)


mixin card_template(title, desc)
    div 123

mixin card_title(title)
    div(class="card-header py-3")
        h6(class="m-0 font-weight-bold text-primary")= title

mixin brand_btn_fb(fa_icon ,btn_class, btn_text)
    a.btn.btn-block(href="#" class!= btn_class)
        i.fab.fa-fw(class!= fa_icon)
        = btn_text


mixin card1
    .card(class=" shadow mb-4")
        +card_title("Circle Buttons")
        .card-body
            p Use Font Awesome Icons (included with this theme package) along with the circle buttons as shown in the examples below!

            <!-- Circle Buttons (Default) -->
            +code_text(".btn-circle")

            +circle_button_default("fa-facebook-f", "btn-primary")
            +circle_button_default("fa-check","btn-success")
            +circle_button_default("fa-info-circle","btn-info")
            +circle_button_default("fa-exclamation-triangle","btn-warning")
            +circle_button_default("fa-trash","btn-danger")

            <!-- Circle Buttons (Small) -->
            +code_text(".btn-circle .btn-sm")

            +circle_button_small("fa-facebook-f", "btn-primary")
            +circle_button_small("fa-check","btn-success")
            +circle_button_small("fa-info-circle","btn-info")
            +circle_button_small("fa-exclamation-triangle","btn-warning")
            +circle_button_small("fa-trash","btn-danger")


            <!-- Circle Buttons (Large) -->
            +code_text(".btn-circle .btn-lg")

            +circle_button_large("fa-facebook-f", "btn-primary")
            +circle_button_large("fa-check","btn-success")
            +circle_button_large("fa-info-circle","btn-info")
            +circle_button_large("fa-exclamation-triangle","btn-warning")
            +circle_button_large("fa-trash","btn-danger")


mixin card2
    .card(class=" shadow mb-4")
        +card_title("Brand Buttons")
        .card-body
            p Google and Facebook buttons are available featuring each company's respective brand color. They are used on the user login and registration pages.
            p You can create more custom buttons by adding a new color variable in the <code>_variables.scss</code> file and then using the Bootstrap button variant mixin to create a new style, as demonstrated in the <code>_buttons.scss</code> file.

            +brand_btn_fb("fa-google", "btn-google",".btn-google")
            +brand_btn_fb("fa-facebook-f", "btn-facebook",".btn-facebook")


mixin card3
    .card(class=" shadow mb-4")
        +card_title("Split Buttons with Icon 123")
        .card-body
            p Works with any button colors, just use the <code>.btn-icon-split</code> class and the markup in the examples below. The examples below also use the <code>.text-white-50</code> helper class on the icons for additional  styling, but it is not required.

            +split_btn_with_icon("fa-flag", "btn-primary","Split Button Success")
            .my-2
            +split_btn_with_icon("fa-info-circle", "btn-success","Split Button Info")
            .my-2
            +split_btn_with_icon("fa-exclamation-triangle", "btn-info","Split Button Warning")
            .my-2
            +split_btn_with_icon("fa-trash", "btn-warning","Split Button Danger")
            .my-2
            +split_btn_with_icon("fa-arrow-right", "btn-danger","Split Button Secondary")

            .mb-4
            p Also works with small and large button classes!
            +split_btn_with_icon("fa-arrow-right", "btn-danger btn-sm","Split Button Secondary")
            .my-2
            +split_btn_with_icon("fa-arrow-right", "btn-danger btn-lg","Split Button Secondary")




block page_heading
    <h1 class="h3 mb-4 text-gray-800">Blank Page 321a</h1>

block page_body
    .row
        <div class="col-lg-6">

            <!-- Circle Buttons -->
            +card1

            <!-- Brand Buttons -->
            +card2

        </div>

        <div class="col-lg-6">
            +card3

        </div>
