include ./pug_inc/mixins.pug

doctype html

html(lang="en")
    head
        include ./pug_inc/meta.pug
        include ./pug_inc/link.pug

        include ./pug_inc/ga_tracking.pug
    body(class="bg-gradient-primary")
        .container
            .row(class="justify-content-center")
                div(class="col-xl-10 col-lg-12 col-md-9")
                    .card(class="o-hidden border-0 shadow-lg my-5")
                        .card-body(class="p-0")
                            +forgot_password_card_body


            p forgot-password




        include ./pug_inc/footer.pug
        include ./pug_inc/scripts.pug
