

//- test_footer.pug
include ./pug_inc/mixins.pug

doctype html
html(lang="en")
    head
        include ./pug_inc/meta.pug
        include ./pug_inc/link.pug

        //- include ./pug_inc/ga_tracking.pug

        block head

    body#page-top
        include ./pug_inc/test_wrapper.pug


        +scroll_to_top_btn

        include ./pug_inc/logout_modal.pug

        include ./pug_inc/scripts.pug

        block body_script
