extends ./pugs_layouts/layout_charts.pug

block head
    link(href="//cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap.css" rel="stylesheet")


block body_script
    script(src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap4.min.js")
    script(src="js/demo/datatables-demo.min.js")
