doctype html

html(lang="en")
    head
        include ./pug_inc/meta.pug
        include ./pug_inc/link.pug

        include ./pug_inc/ga_tracking.pug
    body
        p register

        include ./pug_inc/footer.pug
        include ./pug_inc/scripts.pug
