//- buttons.pug
extends layout.pug

mixin utilities_color_card
    <!-- First Column -->
    .col-lg-4
        +card_template("Custom Text Color Utilities","2")
            <p class="text-gray-100 p-3 bg-dark m-0">.text-gray-100</p>
            <p class="text-gray-200 p-3 bg-dark m-0">.text-gray-200</p>
            <p class="text-gray-300 p-3 bg-dark m-0">.text-gray-300</p>
            <p class="text-gray-400 p-3 bg-dark m-0">.text-gray-400</p>
            <p class="text-gray-500 p-3 m-0">.text-gray-500</p>
            <p class="text-gray-600 p-3 m-0">.text-gray-600</p>
            <p class="text-gray-700 p-3 m-0">.text-gray-700</p>
            <p class="text-gray-800 p-3 m-0">.text-gray-800</p>
            <p class="text-gray-900 p-3 m-0">.text-gray-900</p>



        <!-- Custom Font Size Utilities -->
        +card_template("Custom Font Size Utilities","2")
            <p class="text-xs">.text-xs</p>
            <p class="text-lg mb-0">.text-lg</p>

    <!-- Second Column -->
    .col-lg-4
        +card_template("Custom Background Gradient Utilities","2")
            <div class="px-3 py-5 bg-gradient-primary text-white">.bg-gradient-primary</div>
            <div class="px-3 py-5 bg-gradient-success text-white">.bg-gradient-success</div>
            <div class="px-3 py-5 bg-gradient-info text-white">.bg-gradient-info</div>
            <div class="px-3 py-5 bg-gradient-warning text-white">.bg-gradient-warning</div>
            <div class="px-3 py-5 bg-gradient-danger text-white">.bg-gradient-danger</div>



    <!-- Third Column -->
    .col-lg-4
        +card_template("Custom Grayscale Background Utilities","2")
            <div class="p-3 bg-gray-100">.bg-gray-100</div>
            <div class="p-3 bg-gray-200">.bg-gray-200</div>
            <div class="p-3 bg-gray-300">.bg-gray-300</div>
            <div class="p-3 bg-gray-400">.bg-gray-400</div>
            <div class="p-3 bg-gray-500 text-white">.bg-gray-500</div>
            <div class="p-3 bg-gray-600 text-white">.bg-gray-600</div>
            <div class="p-3 bg-gray-700 text-white">.bg-gray-700</div>
            <div class="p-3 bg-gray-800 text-white">.bg-gray-800</div>
            <div class="p-3 bg-gray-900 text-white">.bg-gray-900</div>




block page_heading
    <h1 class="h3 mb-4 text-gray-800">Color Utilities</h1>

block page_body
    .row
        +utilities_color_card
