
<!-- Main Content -->
<div id="content">

    include ./top-bar.pug

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        block page_heading

    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
