//- test_footer.pug
include ./pug_inc/mixins.pug

doctype html
html(lang="en")
    head
        include ./meta.pug
        include ./link.pug

        //- include ./pug_inc/ga_tracking.pug

    body#page-top
        include ./pug_inc/test_wrapper.pug


        +scroll_to_top_btn

        include ./logout_modal.pug

        include ./scripts.pug
