//- scripts.pug
<!-- Bootstrap core JavaScript-->
script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js")

<!-- Core plugin JavaScript-->
script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js")

<!-- Custom scripts for all pages-->
script(src="js/sb-admin-2.min.js")
