//- top-bar.pug

nav(class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow")
    //- sidebar toggle
    button.sidebarToggleTop(class="btn btn-link d-md-none rounded-circle mr-3")
        i.fa-bars.fa

    //- topbar search
    ul.navbar-nav(class="ml-auto")
        //- search dropdown

        //- alerts

        //- messages

        div(class="topbar-divider d-none d-sm-block")

        //- User Information
