extends ./layout.pug

mixin charts_inc

    <!-- Page level plugins -->
    script(src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js")

    <!-- Page level custom scripts -->
    script(src="js/demo/chart-area-demo.min.js")
    script(src="js/demo/chart-pie-demo.min.js")
    script(src="js/demo/chart-bar-demo.min.js")



block body_script
    +charts_inc
